[user]
	email = wppopqpu@outlook.com
	name = Wppopqpu
[init]
	defaultBranch = main
[pull]
	rebase = false
; [http]
	; proxy = http://127.0.0.1:26561
	; sslVerify = false
	; proxy = socks5://127.0.0.1:7890
; [https]
	; proxy = http://127.0.0.1:26561
	; sslVerify = false
	; proxy = socks5://127.0.0.1:7890
